main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bg2 {
  background: rgba(255, 255, 255, 0.8);
  border-width: 4px;
  -webkit-box-shadow: 0px 10px 18px -1px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 10px 18px -1px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 10px 3px -1px rgba(0, 0, 0, 0.68);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 70px;
  margin-top: 25px;
}

.Bg2 div {
  width: 75%;
}

main p,
main h3 {
  text-align: center;
}
