.Tblanc {
  color: #ffffff;
}

.tnoir {
  color: #000000;
}

.Tgris {
  color: #ffffff36;
}

.Tlgris {
  color: #ffffff71;
}
.Tgris70 {
  color: #707070;
}

.Tbleu {
  color: #0081ff;
}

.Tlbleu {
  color: #007efa;
}

.Tgris46 {
  color: #464646;
}

.Tgris63 {
  color: #636363;
}

.Tgris87 {
  color: #8799a3;
}

.Tyellow {
  color: #ffff00;
}

.Tsize14 {
  font-size: 14px;
}

.Tsize16 {
  font-size: 16px;
}

.Tsize18 {
  font-size: 18px;
}

.Tsize20 {
  font-size: 20px;
}

.Tsize24 {
  font-size: 24px;
}

.Tsize36 {
  font-size: 36px;
}

.Tsize40 {
  font-size: 40px;
}

.Tsize42 {
  font-size: 40px;
}

.Tsize60 {
  font-size: 60px;
}

.Tsize75 {
  font-size: 75px;
}

.Tbold {
  font-weight: bold;
}
.Tbolder {
  font-weight: bolder;
}
